[submodule "plotperfectclient"]
	path = plotperfectclient
	url = https://github.com/d-wizard/plotperfectclient.git
[submodule "BitmapPlusPlus"]
	path = BitmapPlusPlus
	url = https://github.com/baderouaich/BitmapPlusPlus.git
[submodule "fpng"]
	path = fpng
	url = https://github.com/richgel999/fpng.git
